<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.baseutils">

    <!--这个工具包使用时建议在application中先初始化，调用方法是:Utils.init(context);-->

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">

    </application>

</manifest>
